 body {
  padding-top: 50px;
}

.emotions{
	border: 0;
	width: 40px;
	height: 20px;
	font-size: 12px;
	border-radius: 20px;
}

.emotions:hover{
	background-color: #008080;
}

.selected{
	background-color: #008080;
}

#current{
	color: white;
	background-color: #008080;
	padding: 4px;
}

.emoticons{
    opacity: 0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
	border-radius: 20px;
	background-color: #D3D3D3;
	margin-top: -40px;
	padding: 0;
	padding-left: 4px;
	height: 26px;
	width: 270px;
	visibility: hidden;
}

#current:hover + .emoticons{
	opacity: 1;
	visibility: visible;
}

.emoticons:hover{
	opacity: 1;
	visibility: visible;
}