{% extends "base.html" %}

{% block content %}
<h1>Posts</h1>

<table class="table">
    <tr>
        <th colspan="2">Post List for {{ date }}</th>
    </tr>

    {% for post in posts %}
    <tr>
            <td>
                <form class='form-inline' method='post' action="{{url_for('.delete_post')}}" onsubmit="return delete_post(this)">
                        <input type='hidden' name='id' value="{{post['_id']}}"/>
                        <div>{{post['post']}}</div>
                            <a id='current' class="emotions">-{{post['emoticon']}}-</a>
                            <div class="emoticons">
                                <input type='button' value='like' class='emotions' onClick="choose_emoticon(this, '{{post['_id']}}')" />
                                <input type='button' value='love' class='emotions' onClick="choose_emoticon(this, '{{post['_id']}}')" />
                                <input type='button' value='haha' class='emotions' onClick="choose_emoticon(this, '{{post['_id']}}')" />
                                <input type='button' value='wow' class='emotions' onClick="choose_emoticon(this, '{{post['_id']}}')" />
                                <input type='button' value='sad' class='emotions' onClick="choose_emoticon(this, '{{post['_id']}}')" />
                                <input type='button' value='angry' class='emotions' onClick="choose_emoticon(this, '{{post['_id']}}')" />
                            </div>
                            <div style="margin: 20px;"></div>
                        <input class='emotions' type='submit' value="Delete" style="width: 50px;" />
                </form>
            </td>
    </tr>
    {% endfor %}

</table>

<h2>Add Post</h2>

{% with messages = get_flashed_messages(category_filter=["create_post_success"]) %}

    {% for message in messages %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}
{% endwith%}
{% with messages = get_flashed_messages(category_filter=["delete_post"]) %}
    {% for message in messages %}
            <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
        </div>
    {% endfor %}
{% endwith%}

<form class='form-inline' method='post' action="{{url_for('.create_post')}}">
    <input class='form-control' type='text' name='new_post' placeholder='Add Post'/>
    <input class='btn btn-primary' type='submit' />
</form>

{% endblock %}